/*Fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff") format("woff"),
    url("../fonts/PTSans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/*Variables*/

:root {
    --basic-white: #ffffff;
    --basic-light-blue: #81b3d2;
    --basic-light-grey: #eeeeee;
    --basic-light-brown: #766357;
    --basic-black:#000000;
    --basic-brown: #f2f2f2;
    --basic-grey: #333333;
    --basic-blue: #669ec0;
}

.visually-hidden {
    position: absolute;
    width:1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow:h idden;
}

/*Global*/

.page-body{
    font-family: "PT Sans";
    font-size: 21px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}

a{
    text-decoration:none;
}
img{
    max-width: 100%;
    height:auto
}

.headbackground{
    background-image: url(../img/background.sedona.jpg);
    width: 1200px;
    height: 509px;
    text-align: center;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.headbackground2::after {
    content: " ";
    background-image: url(../img/mask.png);
    display: block;
    width: 100%;
    height: 57px;
    position:absolute;
}

.headbackground2::before {
    content: " ";
    background-image: url(../img/welcome.svg);
    background-size: cover;
    background-position: center;
}

.main-navigation{
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    height: 35px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    text-align: center;
    display: grid;
    background-image: url(../img/logo.svg);
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 85px;
}


.form {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    border: none;
    list-style: none;
}

.filter {
    border: none;
    background-image: url(../img/background.jpg);
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: var(--basic-white);
}

.filter1 {
    border: none;
    padding-left: 82px;
    list-style: none;
}

.filter2 {
    border: none;
    padding-left:118px;
    list-style: none;
}

.filter3 {
    border: none;
    margin: 0;
    padding:0;
}

.range-filter {
    width:317px;
    margin-top: 10px;
}

.filter3 legend {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
}

.range-controls .scale {
    height: 2px;
    color: var(--basic-light-grey);
}

.range-controls .bar {
    width: 79%;
    height: 2px;
    color: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: 75px;
    width:4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #eeeeee;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left:18px;
}

.range-controls .toggle-max {
    left:160px;
}

.range-controls label {
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: 16px;
}

.price-controls input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 36px;
    width: 317px;
    text-align:center;
    border: var(--basic-white);
    font-family: inherit;
    font-size: inherit;
}

.infrastructure {
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.type-home {
    font-size: 16px;
    font-weight: 700;
}

.cost {
    font-size: 16px;
    font-weight: 700; 
}

.found {
    display: flex;
}

.founded {
    font-size: 21px;
    font-weight: 700;
    margin-top: 50px;
}

.filter-item {
    display: flex;
    padding-left: 32px;
    font-size: 12px;
    margin-top: 10px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    border: none;
}

.filter-found {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.inner-page .main-navigation{
    align-items: flex-start;
    flex-direction: row;
}

.main-navigation-wrapper {
    background-color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.site-navigation {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
}

.head-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.site-navigation-current a:not([href]){
    background-color: var(--basic-white);
}

/*User navigation*/

.site-navigation a,
.user-navigation a {
    color: var(--basic-black);
    
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color:var(--basic-white);
    color:var(--basic-light-blue);
}

/*Features*/

.text-center {
    background-position: top-center;
    text-align: center;
    font-size: 21px;
}

.text-center p {
    font-size: 14px;
    color: var(--basic-grey);
    margin-top: 30px;
    margin-bottom: 30px;
}

.features-list {
    list-style: none;
}

.features-item {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

.features-item .blueback1 {
    font-size: 14px;
    text-align: center;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
}

.city {
    margin-top: 50px;
}

.features-item .blueback2 {
    font-size: 14px;
    text-align: center;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
}

.bridge {
    margin-top: 50px;
}

.whiteback {
    background-color: var(--basic-white);
}

.search {
    text-align: center;
    margin-top: 50px;
}

.search p {
    color: var(--basic-grey);
}

.greyback {
    background-color: var(--basic-light-grey);
    width: 100%;
    height: 100%;
    margin-top: -100px;
}

.flexcolumn{
    display: flex;
    flex-direction: column ;
    align-content: space-between;
}
.flex-container {
    display: flex;
    align-content: space-between;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.features-item h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;

}
.features-item h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.block {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.found {
    font-size: 21px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.hotel1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}

.hotel1 p {
    font-size: 14px;
    margin-left: 25px;
}

.hotel1 h4 {
    margin-left: 25px;
    padding:-50px;
}

.hotel1 button {
    margin-left: 25px;
}

.hotel2 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}

.hotel2 p {
    font-size: 14px;
    margin-left: 25px;
}

.hotel2 h4 {
    margin-left: 25px;
}

.hotel2 button {
    margin-left: 25px;
}

.hotel3 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 150px;
}

.hotel3 p {
    font-size: 14px;
    margin-left: 25px;
}

.hotel3 h4 {
    margin-left: 25px;
    padding-top: -200px;
}
.hotel3 button {
    margin-left: 25px;
}

.rate::before {
    content: " ";
    position: absolute;
    width: 18px;
    height: 17px;
    background-image: url("img/star.svg");
}
.rate {
    list-style: none;
}

.search {
    background-image: url(../img/map.svg);
    height: 500px;
}

.hotel-search-button {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    width: 568px;
    height: 86;
    text-align: center ;
    background-color: var(--basic-light-brown);
    height: 86px;
}

/*Main footer*/

.main-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: 0 0;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    height: 120px;
    align-items: center;
}

.contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}


.footer-social {
    width: 145px;
    justify-self: center;
    text-align: center;
}

.footer-social ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 141px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.footer-social li {
    margin: 0;
    border:none
}

/*Social-button*/

.social-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: inherit;
    cursor: pointer;
}

.social-button a:hover,
.social-button a:focus {
    color: var(--basic-light-blue);
    color: var(--basic-blue);
}

.footer-copyright {
    font-size: 14px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}