/*Fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff") format("woff"),
    url("../fonts/PTSans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/*Variables*/

:root {
    --basic-white: #ffffff;
    --basic-light-blue: #81b3d2;
    --basic-light-grey: #eeeeee;
    --basic-light-brown: #766357;
    --basic-black:#000000;
    --basic-brown: #f2f2f2;


}
/*Global*/

.page-body{
    font-family: "PT Sans";
    font-size: 21px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top-center;
    background-repeat: no repeat;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: center;
    margin: 0;
    max-width: 1200px;
    padding: 0;

}

a{
    text-decoration:none;
}
img{
    max-width: 100%;
    height:auto
}

.headbackground{
    background-image: url(../img/background.sedona.jpg);
    width: 1200px;
    height: 509px;
    text-align: center;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;

}

.headbackground2::after {
    content: " ";
    background-image: url(../img/mask.png);
    display: block;
    width: 100%;
    height: 57px;
    position:absolute;

}

.headbackground2::before {
    content: " ";
    background-image: url(../img/welcome.svg);
    background-size: cover;
    background-position: center;
}

.main-navigation{
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    height: 35px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    text-align: center;
    display: grid;
    background-image: url(../img/logo.svg);
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 85px;
}

.inner-page .main-navigation{
    align-items: flex-start;
    flex-direction: row;
}

.main-navigation-wrapper {
    background-color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.site-navigation {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.head-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.site-navigation-current a:not([href]){
    background-color: var(--basic-white);
}

/*User navigation*/

.site-navigation a,
.user-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: var(--basic-white);
}

/*Features*/

.text-center {
    background-position: top-center;
    text-align: center;
}

.features-list {
    list-style: none;
}

.features-item {
    text-align:center;
}
.blueback {
    background-color: var(--basic-light-blue);
    color: var(--basic-white);

}
.whiteback {
    background-color: var(--basic-white);
}
.greyback {
    background-color: var(--basic-light-grey);
    width: 100%;
    height: 100%;
}

.flexcolumn{
    display: flex;
    flex-direction: column ;
    align-content: space-between;
}
.flex-container {
    display: flex;
    flex-direction: row ;
    align-content: space-between;
}

.features-item h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;

}
.features-item h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;

}

.infrastructure {

}

.block {
    padding: 82px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1200px;
    height: 151px;
}

.found {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.search {
    text-align: center;
    background-image: url(../img/map.svg);
    width: 1199px;
    height: 594px;
}

.hotel-search-button {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    width: 568px;
    height: 86;
    text-align: center ;
    background-color: var(--basic-light-brown);
}

/*Main footer*/

.main-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: 0 0;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    height: 120px;
}

.footer-contacts a {
    color: var(--basic-black);
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Social-button*/

.social-button {
    color: inherit;
    display: flex;
    flex-direction: row;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-light-blue);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}